<h1>Get and Add</h1>
<div style="width: 60%; float: left;">
    <app-product-get></app-product-get>
    
</div>

<div style="width: 35%; float: right; margin-left: 10px;">

<app-product-add (productCreated)="productCreated($event)"></app-product-add>
</div>



